body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: #ebf5fe;
    font-family: "Roboto", sans-serif;
    /* background-color: #666666; */
}
.product {
    width: 200px;
    /* border: 1px solid black; */
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.25s;
    border-radius: 5px;
}
.product:nth-child(1):hover {
    outline: 2px solid #00ff00;
}
.product:nth-child(2):hover {
    outline: 2px solid #ff0000;
}
.product:nth-child(3):hover {
    outline: 2px solid #0000ff;
}
.product:nth-child(4):hover {
    outline: 2px solid #ffff00;
}
.product:nth-child(5):hover {
    outline: 2px solid #ffa500;
}
.product:nth-child(6):hover {
    outline: 2px solid #800080;
}
.product__heading {
    width: 112px;
    margin-bottom: 0;
    margin-left: 10px;
    margin: 0 0 0 10px;
    word-wrap: break-word;
}
.container {
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.product__header {
    display: flex;
    align-items: center;
}
.product__desc {
    color: #666666;
}
.product__link {
    text-decoration: none;
    font-weight: 600;
}
.product__header > i {
    background-color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
