* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.carousel-inner {
    display: flex;
    transition: transform 0.3s ease;
}

.item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel .carousel-inner {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.prev,
.next {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    /* cursor: all-scroll; */
}

.carousel-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel-dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.carousel-dots .active {
    background-color: #fff;
}
