* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.editor-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;

    h2 {
        margin-bottom: 10px;
    }
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    border-top-width: 5px;
    position: relative;
}

.file-btn {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

#doc-title {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

.format-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.format-btns button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px;
    width: 40px;
    margin-left: 5px;
    border-radius: 5px;
}

.format-btns button:hover {
    background-color: #555;
}

.editor {
    width: 100%;
    min-height: 300px;
    border: 1px solid #ccc;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.editor:focus {
    outline: none;
}

.status-bar {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    padding: 5px;
    gap: 10px;
    border-top: none;
}

.option-file {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid rgb(157, 157, 157);
    top: 78%;
    left: 1%;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    transition-property: opacity, visibility, height, width;
    height: 80px;
    width: 100px;
    overflow: hidden;
}

.option-file button:first-child {
    border-radius: 10px 10px 0 0;
}

.option-file button:last-child {
    border-radius: 0 0 10px 10px;
}

.option-file button {
    width: 100%;
    border: none;
    padding: 5px 10px;
    text-align: left;
    transition: background-color 0.3s ease;
    text-wrap: nowrap;
}

.option-file button:hover {
    background-color: #007bff;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
}
