body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: gray;
}
ul {
    padding: 0;
    margin: 0;
}
.container {
    margin: 0 auto;
    border-radius: 6px;
    width: 700px;
    background-color: rgb(68, 68, 68);
}
.menu-item a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    /* text-align: center; */
}
.menu {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.menu-item:hover {
    border-radius: 6px;
    background-color: rgb(102, 228, 163);
}
.menu > .menu-item:hover .sub-menu {
    display: block;
}
.menu > .menu-item {
    display: inline-block;
    position: relative;
}
.sub-menu > .menu-item {
    width: 150px;
}
.sub-menu {
    position: absolute;
    top: 39px;
    left: 0px;
    border-radius: 6px;
    list-style: none;
    background-color: rgb(108, 106, 106);
    display: none;
}
