body {
    margin: 0 auto;
    width: 800px;
    font-family: sans-serif;
}

.herder {
    width: 700px;
    text-align: center;
    margin: 0px 20px;
}

.herder > h1 {
    margin-bottom: 5px;
    font-size: 20px;
}

.herder > p {
    margin-top: 0px;
    font-size: 8px;
    color: rgb(129, 129, 129);
}

.product {
    width: 190px;
    padding: 10px 10px 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 1s ease;
}
.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.container-product {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}

.product > i {
    margin: 10px auto 0px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #f1a93a;
    border-radius: 50%;
}

.content > h3 {
    font-size: 15px;
}

.content > p {
    font-size: 9px;
    color: rgb(129, 129, 129);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product > button {
    background-color: #f1a93a;
    border: none;
    color: #fff;
    padding: 7px 12px;
    font-size: 9px;
}
