body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(170, 170, 170, 0.405);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
    transition-property: opacity, visibility;
}
.overlay-ht {
    visibility: visible !important;
    opacity: 1 !important;
}
.dangnhap.btn {
    width: 100px;
    position: absolute;
    top: 0px;
}
.container {
    position: relative;
    width: 450px;
    background-color: rgb(255, 255, 255);
    /* height: 550px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    padding-bottom: 40px;
    border-radius: 5px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
    transition-property: opacity, visibility;
}

.logo-dantri {
    width: 150px;
    display: inline-block;
    margin: 20px 0px;
}
.btn-gr {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.social-desc {
    text-align: center;
    font-size: 15px;
    color: rgb(41, 41, 41);
    position: relative;
}
.desc-or::after,
.desc-or::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 42%;
    position: absolute;

    background-color: rgb(193, 193, 193);
}
.desc-or::after {
    right: 0;
    top: 50%;
}
.desc-or::before {
    left: 0;
    top: 50%;
}
.btn {
    width: 50%;
    height: 50px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: gray;
    background-color: rgb(240, 240, 240);
}
.btn-active {
    background-color: green;
    color: #fff;
    transition: 0.3s all ease-in-out;
}
.container-login,
.form-signup {
    width: 90%;
}
.social-gr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    font-size: 15px;
    gap: 10px;
    height: 45px;
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
}
.input-login {
    width: calc(100% - 10px);
    height: 35px;
    outline: none;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 3px;
    margin: 10px 0px;
    padding-left: 10px;
    background-color: aliceblue;
}
.input-group {
    position: relative;
}
.icon-eye {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    display: inline-block;
    background-color: black;
}
.forgot {
    color: gray;
    text-decoration: none;
    font-size: 15px;
    float: right;
}
.forgot span {
    color: blue;
}
.btn-save {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: 1px solid green;
    font-size: 16px;
}
.error {
    color: red;
    margin: 0px 0px 10px 10px;
}
.hidden {
    display: none;
}
